// Heading mixins
// -----------------------------------------------------------------------------
//
// 1. Prevents long words from breaking layout, in small devices.
//

@mixin heading($ff, $fz, $fw, $lh, $c, $tt, $fs, $fz-mu) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
  text-transform: $tt;
  font-style: $fs;
  word-break: break-word; // 1

  @media ($medium-up) {
    font-size: $fz-mu;
    word-break: normal;
  }
}
