// Pseudo shape
// -----------------------------------------------------------------------------

@mixin pseudo-rectangle($wd, $ht, $bot, $bgc) {
  content: '';
  position: absolute;
  width: $wd;
  height: $ht;
  bottom: $bot;
  left: 50%;
  margin-left: -(floor($wd / 2));
  background-color: $bgc;
}
