<div class="address">
  <p class="text {{ include.css-class-text }}">
    {{ site.address_1 }}<br />
    {{ site.address_2 }}<br />
    <a class="link {{ include.css-class-link }}" href="tel:{{ site.phone_country_code }}{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
  </p>
  <p class="text {{ include.css-class-text }}">
    <a class="link {{ include.css-class-link }}" href="{{ site.address_link }}" target="_blank">
      {% include icons/address.svg css-class="icon icon--address" %}
      {{ site.address_location }}
    </a>
  </p>
</div>
