<div class="panel-light">
  <div class="wrapper">
    <div class="u-inner-medium">

      <div class="approach">
        <h2 class="heading2 u-text-center">Filosofía</h2>
        <ul class="approach__list">
          {% for approach in site.approaches %}
          <li class="approach__item u-text-lowercase" style="background-image: url({{ approach.img }});">
            <a class="approach__link" href="{{ approach.link }}">
              <h3 class="heading4">{{ approach.title }}</h3>
              <h4 class="heading5">{{ approach.description }}</h4>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>
