{% comment %}Get callouts, ordered by 'order'{% endcomment %}
{% assign about_callouts_sorted = site.about_callouts | sort: "order" %}
{% for about_callout in about_callouts_sorted %}
<div class="callout {% cycle 'callout--dark', 'callout--waterleaf', 'callout--carnation' %}">
  <div class="wrapper">

    <div class="{% cycle 'panel-dark', 'panel-waterleaf', 'panel-carnation' %}">
      <div class="u-inner-large">
        <h2 class="heading2 {% cycle 'heading2--light', '', 'heading2--light' %}">{{ about_callout.title }}</h2>
        <h3 class="heading6 {% cycle 'heading6--light', '', 'heading6--light' %}">{{ about_callout.subtitle }}</h3>
        <div class="description {% cycle 'description--light', '', 'description--light' %}">
          {{ about_callout.description }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endfor %}
