<!-- prettier-ignore -->
{% comment %}Get the number of carousel items{% endcomment %}
{% for the_project_img_carousel in the_project.img_carousel %}
  {% if forloop.first %}
    {% assign the_project_img_carousel_length = forloop.length %}
  {% endif %}
{% endfor %}

<div
  class="carousel is-items-{{ the_project_img_carousel_length }} is-autoplay"
>
  <!-- prettier-ignore -->
  {% for the_project_img_carousel in the_project.img_carousel %}
  <div class="carousel__control-operator" id="slide-{{ forloop.index }}"></div>
  {% endfor %}

  <!-- prettier-ignore -->
  {% for the_project_img_carousel in the_project.img_carousel %}
  <figure
    class="carousel__item"
    style="background-image: url(https://{{ the_project_img_carousel.imgix_host }}{{ the_project_img_carousel.upload.payload.attributes.path }});"
  >
    {% include patterns/carousel-control.html %}
  </figure>
  {% endfor %}
</div>
