{% comment %}Get the number of carousel items{% endcomment %}
{% for home_carousel in site.home_carousels %}
  {% if forloop.first %}
    {% assign home_carousel_length = forloop.length %}
  {% endif %}
{% endfor %}

{% comment %}Get carousel items, ordered by 'order'{% endcomment %}
{% assign home_carousels_sorted = site.home_carousels | sort: "order" %}

<div class="carousel is-items-{{ home_carousel_length }} is-autoplay">

  {% for home_carousel in home_carousels_sorted %}
    <div class="carousel__control-operator" id="slide-{{ forloop.index }}"></div>
  {% endfor %}

  {% for home_carousel in home_carousels_sorted %}
    <figure class="carousel__item" style="background-image: url({{ home_carousel.img }});">
      <div class="wrapper">
        <div class="u-inner-carousel">
          <p class="carousel__title">
            {% if home_carousel.subtitle %}
            <span class="carousel__subtitle">{{ home_carousel.subtitle }}</span>
            {% endif %}
            {{ home_carousel.title }}
          </p>
          {% if home_carousel.link != '' %}
          <a class="button button--primary button--square" href="{{ home_carousel.link }}">
            +
          </a>
          {% endif %}
        </div>
      </div>
      {% case forloop.index %}
        {% when 1 %}
          <a class="carousel__control-secondary-r" href="#slide-2">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 2 %}
          <a class="carousel__control-secondary-l" href="#slide-1">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
          <a class="carousel__control-secondary-r" href="#slide-3">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 3 %}
          <a class="carousel__control-secondary-l" href="#slide-2">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
          <a class="carousel__control-secondary-r" href="#slide-4">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 4 %}
          <a class="carousel__control-secondary-l" href="#slide-3">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
          <a class="carousel__control-secondary-r" href="#slide-5">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 5 %}
          <a class="carousel__control-secondary-l" href="#slide-4">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
      {% endcase %}
    </figure>
  {% endfor %}

</div>
