{% comment %}Getting the number of carousel items{% endcomment %}
{% for carousel in site.carousels %}
  {% if forloop.first %}
    {% assign carousel_length = forloop.length %}
  {% endif %}
{% endfor %}

<div class="carousel is-items-{{ carousel_length }}">

  {% for carousel in site.carousels %}
    <div class="carousel__control-operator" id="slide-{{ forloop.index }}"></div>
  {% endfor %}

  {% for carousel in site.carousels %}
    <figure class="carousel__item" style="background-image: url({{ carousel.img }}); background-color: {{ carousel.color }};">
      <div class="wrapper">
        <div class="u-inner-carousel">
          <p class="carousel__title">
            {% if carousel.subtitle %}
            <span class="carousel__subtitle">{{ carousel.subtitle }}</span>
            {% endif %}
            {{ carousel.title }}
          </p>
          <a class="button button--primary button--square" href="{{ carousel.link }}">
            +
          </a>
        </div>
      </div>
      {% case forloop.index %}
        {% when 1 %}
          <a class="carousel__control-secondary-r" href="#slide-2">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 2 %}
          <a class="carousel__control-secondary-l" href="#slide-1">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
          <a class="carousel__control-secondary-r" href="#slide-3">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 3 %}
          <a class="carousel__control-secondary-l" href="#slide-2">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
          <a class="carousel__control-secondary-r" href="#slide-4">
            {% include icons/chevron-r.svg css-class="icon icon--chevron" %}
          </a>
        {% when 4 %}
          <a class="carousel__control-secondary-l" href="#slide-3">
            {% include icons/chevron-l.svg css-class="icon icon--chevron" %}
          </a>
      {% endcase %}
    </figure>
  {% endfor %}

  <div class="carousel__controls">
    <div class="wrapper">
    {% for carousel in site.carousels %}
      <a class="carousel__controls__control-button" href="#slide-{{ forloop.index }}"></a>
    {% endfor %}
    </div>
  </div>

</div>
