<div class="panel-light">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h2 class="heading2 u-text-center">{{ site.clients.heading }}</h2>
      <ul class="clients">
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
      </ul>
      <ul class="clients">
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/placeholder-clients.svg css-class="icon icon--xlarge" %}
        </li>
      </ul>

    </div>
  </div>
</div>
