<div class="panel-light">
  <div class="wrapper">
    <div class="u-inner">
      <h2 class="heading3 u-text-center">Clientes</h2>
      <ul class="clients">
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
      </ul>
      <ul class="clients">
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
        <li class="clients__item">
          {% include icons/clients/placeholder.svg css-class="icon icon--xlarge" %}
        </li>
      </ul>
    </div>
  </div>
</div>
