<div class="panel-light">
  <div class="wrapper">
    <div class="u-inner-medium">

      <div class="u-inner-xsmall">
        <h2 class="heading2 u-text-center-small">{{ site.customers.heading }}</h2>
      </div>
      <ul class="customers">
        {% for home_customer in site.home_customers %}
        <li class="customers__item">
          <img src="{{ home_customer.icon }}" class="u-img-responsive-100" alt="{{ home_customer.icon_alt }}">
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
