<div class="panel-light">
  <div class="wrapper">
    <div class="u-inner-large">
      <div class="lead">
        <h3 class="heading4">Lead intro</h3>
        <p class="text">Cras posuere odio in libero cursus, vitae sagittis nisi congue. Fusce ac augue in urna vestibulum scelerisque et sit amet orci. Curabitur dui augue, pulvinar fermentum purus et, suscipit porta justo. Fusce feugiat interdum magna, eget sagittis lorem. Suspendisse ac elit justo. Vivamus venenatis venenatis orci non tristique. Aenean ullamcorper lacus a nunc accumsan consequat. Fusce dictum tortor vel tortor tempor, sed tristique turpis lacinia. Donec tellus risus, pellentesque vel lacus nec, consequat placerat erat. Sed non massa dignissim, viverra dui id, maximus lorem. Donec varius elit ut tellus sodales viverra. Praesent faucibus felis eu massa dignissim, sit amet tempor nisl tincidunt. Curabitur nec posuere massa, nec auctor magna.</p>
      </div>
    </div>
  </div>
</div>
