<ul class="nav-social">
  <li>
    <a href="#" target="_blank">
      {% include icons/facebook.svg css-class="icon icon--medium" %}
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      {% include icons/twitter.svg css-class="icon icon--medium" %}
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      {% include icons/instagram.svg css-class="icon icon--medium" %}
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      {% include icons/youtube.svg css-class="icon icon--medium" %}
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      {% include icons/linkedin.svg css-class="icon icon--medium" %}
    </a>
  </li>
</ul>
