{% comment %}
  Automatically highlight current tab in menu bar
  https://stackoverflow.com/a/19273580
{% endcomment %}
{% assign current_url = page.url | downcase | split: '/' %}
{% assign current_section = current_url[2] %}

{% assign type = include.type %}
{% case type %}
  {% when 'services' %}
     {% assign nav_link = site.nav_main.link_2 %}
  {% when 'projects' %}
     {% assign nav_link = site.nav_main.link_3 %}
  {% else %}
     {% assign nav_link = site.nav_main.link_2 %}
{% endcase %}

<div class="{{ include.css-class }}">
  <div class="wrapper">
    <div class="u-inner-medium">

      <ul class="nav-secondary">
        {% assign services_sorted = site.services | sort: "order" %}
        {% for service in services_sorted %}
        <li class="nav-secondary__item">
          <a class="nav-secondary__link {% if current_section == service.cat %}is-active{% endif %}" href="{{ site.baseurl }}/{{ nav_link }}/{{ service.cat }}">
            {% comment %}{% include icons/placeholder.svg css-class="icon icon--nav-secondary" %}{% endcomment %}
            <img src="{{ service.icon }}" width="100" height="100" class="icon icon--nav-secondary" alt="{{ service.icon_alt }}">
            {{ service.title }}
          </a>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
