<main class="page-content" aria-label="Content">

  {% include patterns/hero-projects.html %}

  <div class="panel-light">
    <div class="wrapper">
      <div class="u-inner-projects">

        <ul class="projects">
          {% comment %}Get all projects, ordered by 'cat'{% endcomment %}
          {% assign projects_sorted = site.projects | sort: "cat" %}
          {% for project in projects_sorted %}
          <li class="projects__item">
            <a class="projects__link" href="{{ site.baseurl }}{{ project.permalink_to }}">
              <div class="projects__img">
                <img class="u-img-responsive-100" src="{{ project.img_cover }}" alt="{{ project.img_cover_alt }}">
              </div>
              <div class="projects__content">
                <h2 class="heading4 heading4--light u-text-uppercase">{{ project.title }}</h2>
                <p class="heading5 heading5--light">
                  <span class="heading5__prominent">{{ project.cat }}</span>
                  {{ project.sector }}
                </p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

</main>
