<div class="panel">
  <div class="wrapper">
    <div class="u-inner">
      <ul class="services">
        <li class="services__item u-text-lowercase">
          <a href="#">
            {% include icons/services/placeholder.svg css-class="icon icon--large" %}
            Redes sociales
          </a>
        </li>
        <li class="services__item u-text-lowercase">
          <a href="#">
            {% include icons/services/placeholder.svg css-class="icon icon--large" %}
            Web
          </a>
        </li>
        <li class="services__item u-text-lowercase">
          <a href="#">
            {% include icons/services/placeholder.svg css-class="icon icon--large" %}
            Identidad corporativa
          </a>
        </li>
        <li class="services__item u-text-lowercase">
          <a href="#">
            {% include icons/services/placeholder.svg css-class="icon icon--large" %}
            Campañas publicitarias
          </a>
        </li>
        <li class="services__item u-text-lowercase">
          <a href="#">
            {% include icons/services/placeholder.svg css-class="icon icon--large" %}
            Marketing digital
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
