{% assign current_url = page.url | downcase | split: '/' %}
{% assign current_category = current_url[2] %}
{% assign current_section = current_url[3] %}

<main class="page-content" aria-label="Content">

  {% for the_project in site.the_projects %}
    {% if the_project.slug == current_section %}

      {% include patterns/carousel-the-project.html %}

      <div class="panel-dark">
        <div class="wrapper">
          <div class="u-inner-the-project">

            <div class="the-project">
              <div class="the-project__header">
                <h1 class="heading3 heading3--light">{{ the_project.title }}</h1>
                <p class="heading5 heading5--light">
                  <span class="heading5__prominent">{{ the_project.cat }}</span>
                  {% if the_project.sector %}{{ the_project.sector }}{% endif %}
                </p>
              </div>
              <div class="the-project__body">
                {% if the_project.link %}
                <div class="u-margin-bottom">
                  <p class="text">
                    <a class="link link--chartreuse" href="{{ the_project.link }}" target="_blank">{{ the_project.link }}</a>
                  </p>
                </div>
                {% endif %}
                {% if the_project.video %}
                  {% assign the_project_video_provider = the_project.video.provider %}
                  {% case the_project_video_provider %}
                    {% when 'youtube' %}
                      <div class="u-video-responsive u-margin-bottom">
                        <iframe src="https://www.youtube.com/embed/{{ the_project.video.provider_uid }}" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    {% when 'vimeo' %}
                      <div class="u-video-responsive u-margin-bottom">
                        <iframe src="https://player.vimeo.com/video/{{ the_project.video.provider_uid }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                      <script src="https://player.vimeo.com/api/player.js"></script>
                    {% when 'facebook' %}
                      <div class="u-video-responsive u-margin-bottom">
                        <iframe src="https://www.facebook.com/plugins/video.php?href={{ the_project.video.url }}&show_text=0&width=560" width="560" height="315" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                      </div>
                  {% endcase %}
                {% endif %}
                <div class="description description--light">
                  {{ the_project.description }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

  {% include patterns/other-projects.html %}

</main>
