// Address
// -----------------------------------------------------------------------------

.address {
  @media ($large-up) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .text {
    @media ($large-up) {
      margin-bottom: 0;
    }
  }

  .icon--address {
    margin-right: $sp-base;
  }
}
