// Address
// -----------------------------------------------------------------------------

.address {
  font-size: $fz-small;

  @media ($medium-up) {
    margin-bottom: 0;
    font-size: $fz-base;
  }

  .icon {
    margin-right: $sp-base;
  }
}
