// Approach
// -----------------------------------------------------------------------------

.approach {
  @include list-reset;
  width: 100%;

  @media ($medium-up) {
    display: flex;
  }

  &__item {
    @include size(100%, 230px);
    margin-bottom: $sp-xxlarge;
    padding: $sp-xxsmall $sp-small;
    background: $c-neutral no-repeat center center;
    background-size: cover;
    overflow: hidden;

    @media ($medium-up) {
      @include size(auto, 300px);
      flex: 1 1 0;
      margin-bottom: 0;
      padding: $sp-medium;
      border-left: $br-base solid $c-light;
      border-right: $br-base solid $c-light;
    }
  }

  &__link {
    @include size(100%, 100%);
    @include link($c-light, $c-light);
    display: block;
  }
}
