// Blockquote
// -----------------------------------------------------------------------------

.blockquote {
  @include heading(
    $ff-sans-serif,
    $fz-giant,
    $fw-thin,
    $lh-xsmall,
    $c-tradewind,
    none,
    italic
  );
  position: relative;
  margin: 0 0 $sp-xxlarge;
  padding: 0;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    content: '“';
    left: -$sp-xsmall;
  }

  &:after {
    content: '”';
  }
}
