// Callout
// -----------------------------------------------------------------------------

.callout {
  margin-bottom: $br-base;

  @media ($medium-up) {
    margin-bottom: $sp-base;
  }

  .wrapper {
    background-repeat: no-repeat;
  }

  &--carnation .wrapper {
    @include item-background($callout-bgc-carnation, $callout-bgi-carnation, $callout-bgi-carnation-medium-up);
    background-position: center top;
    background-size: contain;
    padding-top: 180px;

    @media ($medium-up) {
      @include clearfix;
      background-position: left top;
      background-size: auto;
      padding: 0;
    }
  }

  &--dark .wrapper {
    @include item-background($callout-bgc-dark, $callout-bgi-dark, $callout-bgi-dark-medium-up);
    background-position: center top;
    background-size: contain;
    padding-top: 180px;

    @media ($medium-up) {
      @include clearfix;
      background-position: left top;
      background-size: auto;
      padding: 0;
    }
  }

  &--waterleaf .wrapper {
    @include item-background($callout-bgc-waterleaf, $callout-bgi-waterleaf, $callout-bgi-waterleaf-medium-up);
    background-position: center top;
    background-size: cover;
    padding: $sp-xxlarge;

    @media ($medium-up) {
      @include clearfix;
      background-position: left top;
      background-size: cover;
      padding: $sp-giant;
    }
  }

  .panel-carnation,
  .panel-dark {
    @media ($medium-up) {
      float: right;
      width: 50%;
    }

    .heading2,
    .heading6,
    p {
      color: $c-light;
    }
  }

  .panel-waterleaf {
    @media ($medium-up) {
      float: left;
      width: 70%;
    }
  }
}
