// Contact
// -----------------------------------------------------------------------------

.contact {
  &__header {
    margin-bottom: $sp-large;
  }

  &__heading {
    font-size: $fz-huge;

    @media ($medium-up) {
      font-size: $fz-giant;
    }

    > .icon {
      display: none;

      @media ($large-up) {
        display: inline-block;
        margin-right: $sp-xxsmall;
      }
    }
  }

  &__cols {
    @media ($medium-up) {
      @include clearfix;
    }
  }

  &__col-l {
    @media ($medium-up) {
      @include col(48%, left);
      float: left;
      margin-right: 2%;
    }
  }

  &__col-r {
    @media ($medium-up) {
      @include col(48%, left);
      float: left;
      margin-left: 2%;
    }
  }
}
