// Customers
// -----------------------------------------------------------------------------

.customers {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    width: 50%;
    margin-bottom: $sp-xxlarge;
    padding-left: $sp-small;
    padding-right: $sp-small;

    @media ($medium-up) {
      width: 33.333%;
    }

    @media ($large-up) {
      width: 16.666%;
    }
  }
}
