// Description
// -----------------------------------------------------------------------------

.description {
  ul,
  ol,
  p {
    @include text;
  }

  &--small {
    ul,
    ol,
    p {
      font-size: $fz-xsmall;
    }
  }

  &--medium {
    ul,
    ol,
    p {
      font-size: $fz-medium;
    }
  }

  &--light {
    ul,
    ol,
    p {
      color: $c-light;
    }

    a {
      @include link($link-light-c, $link-light-hover-c);
    }
  }
}
