// Header
// -----------------------------------------------------------------------------


.header {
  @include positioner(fixed, $header-wd, $header-ht, top, 0, left, 0, 10);
  @include clearfix;
  background-color: $header-bg;

  @media ($medium-up) {
    @include size($header-wd-medium-up, $header-ht-medium-up);
  }

  &__brand {
    @include size($header-brand-wd, $header-brand-ht);
    float: left;

    @media ($medium-up) {
      @include size($header-brand-wd-medium-up, $header-brand-ht-medium-up);
    }

    > a {
      display: block;
    }
  }

  &__nav {
    // @include size($header-nav-wd, $header-nav-ht);
    // background-color: $header-nav-bg;
    // overflow: hidden;
    // transition: $transition-bgc;

    @media ($medium-up) {
      float: right;
    }

    // &.is-opaque {
    //   background-color: $header-nav-bg-opaque;
    // }
  }

  &__hamburger {
    @include positioner(absolute, $header-hamburger-wd, $header-hamburger-ht, top, $sp-small, right, $sp-xsmall, 11);
    @include button-reset;
    padding: $header-hamburger-pd;
    font-size: $header-hamburger-fz;
    line-height: $lh-small;
    color: $header-hamburger-c;
  }

  &__contact {
    @include positioner(absolute, $header-contact-wd, $header-contact-ht, top, $sp-small, right, 65px, 11);
    @include button-reset;
    padding: $header-contact-pd;

    @media ($medium-up) {
      @include positioner(absolute, $header-contact-wd-medium-up, $header-contact-ht-medium-up, top, 120px, right, 0, 11);
    }
  }
}
