// Icon
// -----------------------------------------------------------------------------
// Use: Required.
//
// Purpose: Base class, to specify the icon basic properties.
//
// 1. This allows inheritance from parent elements (i.e. an Icon placed within
// a Button would inherit the color defined in the Button, for each state).
//

.icon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor; // 1
}


// Icon sizes
// -----------------------------------------------------------------------------
// Use: Optional.
//
// Purpose: Size class, to specify different icon sizes.
//
// Possible values: `icon--small`, `icon--medium`...
//

.icon--brand {
  @include size($header-brand-wd, $header-brand-ht);

  @media ($medium-up) {
    @include size($header-brand-wd-medium-up, $header-brand-ht-medium-up);
  }
}

.icon--brand-secondary {
  @include size(185px, 50px);
}

.icon--contact-form {
  @include size(64px, 79px);
}

.icon--close {
  @include size($sp-large, $sp-large);
}

.icon--cookie-message-close {
  @include size($sp-xsmall, $sp-xsmall);

  @media ($medium-up) {
    @include size($sp-large, $sp-large);
  }
}

.icon--customers {
  @include size(140px, 80px);
}

.icon--social {
  @include size($icon-social-wd, $icon-social-ht);

  @media ($medium-up) {
    @include size($icon-social-wd-medium-up, $icon-social-ht-medium-up);
  }
}

.icon--small {
  @include size($sp-large, $sp-large);
  vertical-align: middle;
}

.icon--medium {
  @include size(100px, 100px);
  vertical-align: middle;
}
