// Navigation category
// -----------------------------------------------------------------------------

.nav-category {
  @include list-reset;
  width: 100%;
  text-align: center;

  @media ($medium-up) {
    display: flex;
  }

  // @media ($xlarge-up) {
  //   white-space: nowrap;
  // }

  &__item {
    margin-bottom: $sp-xxlarge;
    padding-left: $sp-small;
    padding-right: $sp-small;

    @media ($medium-up) {
      flex: 1 1 0;
      margin-bottom: 0;
    }
  }

  &__link {
    @include link($c-light, $c-chartreuse);
    display: block;
  }

  .icon {
    @include center-block;
    margin-bottom: $sp-small;
  }
}
