// Navigation secondary
// -----------------------------------------------------------------------------

.nav-secondary {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  font-size: $fz-medium;
  text-transform: lowercase;

  @media ($medium-up) {
    font-size: $fz-base;
    text-transform: uppercase;
  }

  &__item {
    width: 50%;
    margin-bottom: $sp-xxlarge;
    padding-left: $sp-small;
    padding-right: $sp-small;

    @media ($medium-up) {
      width: 33.333%;
    }

    @media ($large-up) {
      width: 16.666%;
      margin-bottom: 0;
    }
  }

  &__link {
    @include link($nav-secondary-link-c, $nav-secondary-link-c-hover, none);
    display: block;

    &.is-active {
      color: $nav-secondary-link-c-active;
    }
  }

  .icon {
    @include center-block;
  }
}
