// Navigation secondary
// -----------------------------------------------------------------------------
//
// 1. The presence of the pseudo-element in the normal state, even being
// transparent/invisible, prevents [The Annoying Mobile Double-Tap Link Issue]
// (https://css-tricks.com/annoying-mobile-double-tap-link-issue/).
//

.nav-secondary {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  font-size: $fz-medium;
  line-height: $lh-xsmall;
  text-transform: lowercase;

  @media ($medium-up) {
    font-size: $fz-base;
    text-transform: uppercase;
  }

  &__item {
    width: 33.333%;
    margin-bottom: $sp-xxlarge;
    padding-left: $sp-base;
    padding-right: $sp-base;

    @media ($large-up) {
      width: 16.666%;
      margin-bottom: 0;
    }
  }

  &__link {
    @include link($nav-secondary-link-c, $nav-secondary-link-c-hover, none);
    position: relative;
    display: block;

    &:before { // 1
      @include pseudo-rectangle($sp-huge, 4px, -$sp-xsmall, transparent);
    }

    &:hover {
      &:before {
        @include pseudo-rectangle($sp-huge, 4px, -$sp-xsmall, $c-light);
      }
    }

    &.is-active {
      &:before {
        @include pseudo-rectangle($sp-huge, 4px, -$sp-xsmall, $c-chartreuse);
      }
    }
  }

  .icon {
    @include center-block;
  }
}
