// Main navigation
// -----------------------------------------------------------------------------


.nav-main {
  margin-bottom: 0;
  // padding: $sp-xxsmall;
  // font-family: $ff-base;
  // text-transform: uppercase;
  // letter-spacing: 1.5px;
  // text-align: center;
  //
  @media ($medium-up) {
    @include list-inline($sp-xsmall, $sp-xsmall);
    padding-top: $sp-medium;
    padding-bottom: $sp-medium;
  }
  //
  // &__link {
  //   @include link($c-light, $c-brand-primary);
  //   display: block;
  //   padding: $sp-base;
  //
  //   @media ($medium-up) {
  //     display: inline;
  //     padding: 0;
  //   }
  //
  //   &.is-active,
  //   &:active {
  //     position: relative;
  //     color: $c-brand-primary;
  //
  //     &::after {
  //       @media ($medium-up) {
  //         @include positioner-center-h(80%, 2px);
  //         content: '';
  //         bottom: -7px;
  //         border-bottom: 2px dotted $c-light;
  //       }
  //     }
  //   }
  // }
}
