// Panel
// -----------------------------------------------------------------------------

.panel-dark {
  background-color: $c-dark;
}

.panel-neutral {
  background-color: $c-neutral;
}

.panel-light {
  background-color: $c-light;
}

.panel-transparent {
  background-color: transparent;
}

.panel-carnation {
  background-color: $c-carnation;
}

.panel-waterleaf {
  background-color: $c-waterleaf;
}
