// Utility classes
// -----------------------------------------------------------------------------

.u-center-block {
  @include center-block;
}

.u-clearfix {
  @include clearfix;
}

// Visibility
.is-small-hidden {
  display: none;

  @media ($medium-up) {
    display: block;
  }
}

.is-medium-hidden {
  display: block;

  @media ($medium-up) {
    display: none;
  }
}

// Inner
.u-inner {
  padding-top: $sp-xxlarge;
  padding-bottom: $sp-xxlarge;

  @media ($medium-up) {
    padding-top: $sp-huge;
    padding-bottom: $sp-huge;
  }
}
