<footer class="footer">
  <div class="wrapper">

    <div class="footer__col-l">
      <p>
        <strong>munich</strong><br>
        Passatge de l’estació, 7, 2on1a<br>
        08340 Vilassar de Mar<br>
        987 526 654 - 654 256 256
      </p>
      <p>
        <a class="address" href="#" target="_blank">
          {% include svg/address.svg css-class="icon icon--small" %}
          <span>ubicación</span>
        </a>
      </p>
    </div>

    <div class="footer__col-r">
      {% include nav-social.html %}
    </div>

  </div>
</footer>
