<footer class="footer">
  <div class="wrapper">

    <div class="footer__col-l">
      <p>
        {% include svg/brand-wide.svg css-class="icon icon--brand-wide" %}
      </p>
      <p class="contact">
        Passatge de l’Estació, 7, 2on 1a<br>
        08340 Vilassar de Mar<br>
        <a href="tel:34123456789">123 456 789</a>
      </p>
      <p class="address">
        <a href="#" target="_blank">
          {% include svg/address.svg css-class="icon icon--small" %}
          ubicación
        </a>
      </p>
    </div>

    <div class="footer__col-r">
      {% include nav-social.html %}
    </nav>

  </div>
</footer>
