<div class="panel">
  <div class="wrapper">
    <div class="u-inner">
      <ul class="services">
        <li>
          <a href="#">
            {% include svg/services/social-networks.svg css-class="icon icon--large" %}
            redes sociales
          </a>
        </li>
        <li>
          <a href="#">
            {% include svg/services/web.svg css-class="icon icon--large" %}
            web
          </a>
        </li>
        <li>
          <a href="#">
            {% include svg/services/branding.svg css-class="icon icon--large" %}
            identidad corporativa
          </a>
        </li>
        <li>
          <a href="#">
            {% include svg/services/advertising-campaigns.svg css-class="icon icon--large" %}
            campañas publicitarias
          </a>
        </li>
        <li>
          <a href="#">
            {% include svg/services/seo-sem.svg css-class="icon icon--large" %}
            SEO/SEM
          </a>
        </li>
        <li>
          <a href="#">
            {% include svg/services/digital-marketing.svg css-class="icon icon--large" %}
            marketing digital
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
