// Utility classes
// -----------------------------------------------------------------------------

// Center-align a block level element
.u-center-block {
  @include center-block;
}

// Clear of floats
.u-clearfix {
  @include clearfix;
}

// Floats
.u-float-l {
  float: left;
}

.u-float-r {
  float: right;
}

// Inners
.u-inner-xsmall {
  padding: 0 $sp-small;

  @media ($medium-up) {
    padding: 0;
  }
}

.u-inner-small {
  padding: $sp-small 0;

  @media ($medium-up) {
    padding: $sp-large 0;
  }
}

.u-inner-medium {
  padding: $sp-small;

  @media ($medium-up) {
    padding: $sp-xxlarge $sp-big;
  }
}

.u-inner-large {
  padding: $sp-xxlarge $sp-small;

  @media ($medium-up) {
    padding: 80px $sp-big;
  }
}

.u-inner-xlarge {
  padding: $sp-xxlarge $sp-small;

  @media ($medium-up) {
    padding: 80px $sp-colossal;
  }
}

.u-inner-other-projects {
  padding: 0 $sp-small;

  @media ($medium-up) {
    padding: 0 80px;
  }
}

.u-inner-approach {
  padding: $sp-small 0 0;

  @media ($medium-up) {
    padding: $sp-large 0 0;
  }
}

.u-inner-footer {
  @media ($medium-up) {
    padding: $sp-big $sp-big 50px;
  }
}

.u-inner-vision {
  padding: $sp-xxlarge $sp-small $sp-small;

  @media ($medium-up) {
    padding: 120px 200px $sp-large;
  }
}

.u-inner-projects {
  padding: 0;

  @media ($medium-up) {
    padding: 100px 0;
  }
}

.u-inner-the-project {
  padding: $sp-xxlarge $sp-small $sp-colossal;

  @media ($medium-up) {
    padding: $sp-xxlarge 80px $sp-colossal;
  }
}

.u-inner-carousel {
  padding: 100px $sp-small $sp-giant;

  @media ($medium-up) {
    padding: 200px $sp-big 0;
  }

  @media ($large-up) {
    padding: 275px $sp-big 0;
  }

  @media ($xlarge-up) {
    padding: 350px $sp-big 0;
  }

  @media ($xxlarge-up) {
    padding: 425px $sp-big 0;
  }
}

// Responsive images
.u-img-responsive {
  @include img-responsive;
}

.u-img-responsive-full {
  @include img-responsive-full;
}

// Responsive videos
.u-video-responsive {
  @include video-responsive;
}

// Margin
.u-margin-bottom {
  margin-bottom: $sp-large;
}

// Text
.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-center-small {
  text-align: left;

  @media ($medium-up) {
    text-align: center;
  }
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-lowercase {
  text-transform: lowercase;
}

// Visibility
.is-hidden {
  display: none !important;
}

.is-small-hidden {
  display: none;

  @media ($medium-up) {
    display: block;
  }
}

.is-medium-hidden {
  display: block;

  @media ($medium-up) {
    display: none;
  }
}

// Word break
.u-word-break {
  word-break: break-all;
}
