<footer class="footer-legal">
  <div class="wrapper">

    <nav class="footer-legal__social">
      {% include patterns/nav-social.html %}
    </nav>

    <div class="u-inner-footer">
      <div class="footer-legal__col-l">
        {% include icons/brand-secondary.svg css-class="icon icon--brand-secondary" %}
      </div>
      <div class="footer-legal__col-r">
        <nav>
          {% include patterns/nav-legal.html %}
        </nav>
        {% include common/copyright-legal.html %}
      </div>
    </div>

  </div>
</footer>
