<footer class="footer">
  <div class="wrapper">

    <div class="footer__col-l">
      <h6 class="heading6 footer__heading">
        {% include icons/address.svg css-class="icon icon--address" %}
        <span class="footer__heading__address">{{ site.footer.location }}</span>
      </h6>
      <p class="text">
        <a href="{{ site.map_link }}" target="_blank">
          {{ site.address_1 }}<br>
          {{ site.address_2 }}
        </a>
      </p>
    </div>

    <div class="footer__col-l">
      <h6 class="heading6 footer__heading">
        {% include icons/contact.svg css-class="icon icon--small" %}
        <span class="footer__heading__contact">{{ site.footer.contact }}</span>
      </h6>
      <p class="text">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <br>
        <a href="tel:{{ site.phone_country_code }}{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
      </p>
    </div>

    <nav class="footer__col-r">
      {% include patterns/nav-social.html %}
    </nav>

  </div>
</footer>
