<div id="modal-cookie" class="modal modal--centered is-hidden" tabindex="-1" role="dialog">
  <div class="modal__dialog" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <button class="button button--icon js-modal-close">
          {% include icons/close.svg css-class="icon icon--close" %}
        </button>
      </div>
      <div class="modal__body">
        {% for legal_cookie in site.legal_cookies %}
        <h5 class="heading5 heading5--light">{{ legal_cookie.title }}</h5>
        <div class="description description--light">
          {{ legal_cookie.description }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
