<div id="modal-contact" class="modal-contact is-hidden" tabindex="-1" role="dialog">
  <div class="modal-contact__dialog" role="document">
    <div class="modal-contact__content">
      <div class="modal-contact__header">
        <button class="button button--icon js-modal-close">
          {% include icons/close.svg css-class="icon icon--close" %}
        </button>
      </div>
      <div class="modal-contact__body">
        <h5 class="heading5 heading5--light">{{ site.modal_contact.heading }}</h5>
        <p class="text text--light">{{ site.modal_contact.text }}</p>
      </div>
    </div>
  </div>
</div>
