// Footer legal
// -----------------------------------------------------------------------------

.footer-legal {
  @include size($footer-legal-wd, $footer-legal-ht);
  font-family: $ff-sans-serif;
  font-size: $fz-small;
  font-weight: $fw-base;
  color: $footer-legal-c;
  background-color: $footer-legal-bg;
  box-shadow: 0 -1*($br-base) $c-light;

  @media ($medium-up) {
    color: $footer-legal-c-medium-up;
  }

  > .wrapper {
    position: relative;
  }

  .u-inner-footer {
    @media ($medium-up) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__col-l {
    text-align: left;
    padding: $sp-big $sp-small;

    @media ($medium-up) {
      @include col(30%, left);
      padding: 0;
    }
  }

  &__col-r {
    @include clearfix;
    padding: $sp-small $sp-small $sp-large;
    background-color: $c-light;

    @media ($medium-up) {
      @include col(70%, right);
      padding: 0;
      background-color: transparent;
    }

    > nav {
      float: right;

      @media ($medium-up) {
        float: none;
        display: inline-block;
      }
    }

    > .copyright-legal {
      float: left;

      @media ($medium-up) {
        float: none;
        display: inline-block;
      }
    }
  }
}
