// Modal contact
// -----------------------------------------------------------------------------
// Based on the code of [Bootstrap Modals](https://getbootstrap.com/docs/4.0/components/modal/)
//
// 3. Enable modal scrolling.
//

.modal-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-contact-bg;
  overflow: hidden;
  outline: 0;
  z-index: $modal-contact-zi;

  &__dialog {
    position: relative;
    width: auto;
    margin: 0;
    max-width: 100%;
    height: 100%;
    pointer-events: none;

    @media ($medium-up) {
      max-width: 75%;
      right: -25%;
    }

    @media ($large-up) {
      max-width: 50%;
      right: -50%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: $modal-contact-content-bg;
    background-clip: padding-box;
    outline: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: $modal-contact-pd;

    @media ($medium-up) {
      padding: $modal-contact-pd-medium-up;
    }
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: $modal-contact-pd;

    @media ($medium-up) {
      padding: $modal-contact-pd-medium-up;
    }
  }

  &__header + &__body {
    margin-top: -$modal-contact-pd;

    @media ($medium-up) {
      margin-top: -$modal-contact-pd-medium-up;
    }
  }
}

body.is-modal-open .modal { // 3
  overflow-x: hidden;
  overflow-y: auto;
}
