// Heading
// -----------------------------------------------------------------------------

// h1
h1,
.heading1 {
  @include heading(
    $ff-sans-serif,
    $fz-galactic,
    $fw-thin,
    $lh-small,
    $c-dark,
    uppercase,
    normal
  );
}

// h2
h2,
.heading2 {
  @include heading(
    $ff-sans-serif,
    $fz-titanic,
    $fw-thin,
    $lh-small,
    $c-dark,
    uppercase,
    normal
  );
}

// h3
h3,
.heading3 {
  @include heading(
    $ff-sans-serif,
    $fz-giant,
    $fw-extra-bold,
    $lh-small,
    $c-dark,
    uppercase,
    normal
  );
}

// h4
h4,
.heading4 {
  @include heading(
    $ff-sans-serif,
    $fz-huge,
    $fw-extra-bold,
    $lh-small,
    $c-dark,
    lowercase,
    normal
  );
}

// h5
h5,
.heading5 {
  @include heading(
    $ff-sans-serif,
    $fz-large,
    $fw-semi-bold,
    $lh-small,
    $c-dark,
    uppercase,
    normal
  );
}

.heading5__prominent {
  display: block;
  color: $c-waterleaf;
}

// h6
h6,
.heading6 {
  @include heading(
    $ff-sans-serif,
    $fz-xlarge,
    $fw-semi-bold,
    $lh-small,
    $c-dark,
    none,
    normal
  );
}

// modifiers
.heading1--light,
.heading2--light
.heading3--light
.heading4--light
.heading5--light
.heading6--light {
  color: $c-light;
}
