// Text
// -----------------------------------------------------------------------------

.text {
  font-family: $ff-sans-serif;
  font-size: $fz-base;

  &:only-of-type,
  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }

  &--small {
    font-size: $fz-xsmall;
  }

  &--medium {
    font-size: $fz-medium;
  }

  &--light {
    color: $c-light;
  }
}
