// Text
// -----------------------------------------------------------------------------

.text {
  @include text;

  &--small {
    font-size: $fz-xsmall;
  }

  &--medium {
    font-size: $fz-medium;
  }

  &--light {
    color: $c-light;
  }
}
